{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Therapeutic Game</title>
</head>
<body>

<h1>Therapeutic Game</h1>

<!-- 🎮 Unity Game -->
<iframe 
    id="unityFrame"
    src="/static/index.html"
    width="100%"
    height="600"
    allow="camera; microphone"
></iframe>

<!-- 📷 Camera -->
<video id="video"
       autoplay
       playsinline
       style="display:none">
</video>
<canvas id="handCanvas" width="640" height="480"
        style="position:absolute; top:0; left:0; pointer-events:none; z-index:1;"></canvas>
    <script>
// 🎮 استلام إشارة من Unity
window.unityInstance = null;


window.addEventListener("message", (e) => {
    if (e.data.type === "unityReady") {
    const iframe = document.getElementById("unityFrame");

    // 🔥 نجيب instance من داخل iframe
    window.unityInstance = iframe.contentWindow.unityInstance;

    console.log("✅ Unity instance linked:", window.unityInstance);
}

});

</script>

<!-- 🤖 AI Module -->
<script type="module" src="{% static 'ai/hand.js' %}"></script>

</body>
</html>